@import "./base.css";

@import "./navbar.css";
@import "./footer.css";

.image-container{
    background-image: url(/Images/asian.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
}

.lead-text{
    color: #E62B1E;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.main-text{
    letter-spacing: 1px;
    line-height: 1.3;
    padding: 10px 10px;
    margin-bottom: 2rem;
}


@media (min-width: 1024px){
    .image-container{
        height: 500px;
    }

    .lead-text{
        font-size: 2rem;
    }

    .main-text{
        margin-bottom: 4rem;
    }

}