
:root {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    /* --bg-color: #CBDCF7; 
    --primary-color: rgb(67, 0, 44);*/
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}



.container{
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: 1024px) {
    .container {
        width: 960px;
        margin: auto;
    }
}